.custom {
  &--scroll {
    @apply pr-3;

    &::-webkit-scrollbar {
      @apply w-1;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-600;
    }

    &::-webkit-scrollbar-thumb:active {
      @apply bg-gray-600;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-gray-600;
    }

    /* Estilos track de scroll */
    &::-webkit-scrollbar-track {
      @apply bg-gray-400;
    }

    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
      @apply bg-gray-400;
    }

    &.dropdown-ibk {
      &::-webkit-scrollbar-track {
        @apply bg-transparent;
      }
    }
  }
}

.ibk-tooltip-info {
  @apply text-white;

  &:before {
    @apply absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 3px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &.left {
    &:before {
      left: 88%;
    }
  }

  &.azul {
    @apply bg-blue-100;

    &:before {
      @apply bg-blue-100;
    }
  }

  &.black-100 {
    @apply bg-black-100;

    &:before {
      @apply bg-black-100;
    }
  }
}

.ibk-tooltip {
  width: 240px;
  border-radius: 10px;
  @apply bg-black-100 text-white p-4 text-xs absolute z-10;

  &:before {
    content: "";
    @apply absolute bg-black-100;
    width: 15px;
    height: 15px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &.p-bc {
    left: calc(50% - 120px);
    top: 145px;

    &:before {
      top: 0;
      left: 50%;
    }
  }

  &.p-bl {
    &:before {
    }
  }

  &.p-tc {
    left: calc(50% - 120px);
    bottom: 145px;

    &:before {
      bottom: -15px;
      left: 50%;
    }
  }

  &.p-tr {
    bottom: 145px;
    right: 0;

    &:before {
      bottom: -15px;
      right: 30%;
    }
  }

  &.p-tl {
    left: 0;
    bottom: 145px;

    &:before {
      bottom: -15px;
      left: 30%;
    }
  }
}

.video-webinar {
  @apply relative overflow-hidden;
  height: 0;
  padding-bottom: 56.25%;

  iframe,
  object,
  embed {
    max-height: 100% !important;
    height: 100% !important;
    left: 0;
    position: absolute !important;
    top: 0;
    max-width: 100% !important;
    width: 100% !important;
  }
}

.html5-video-player,
.html5-main-video {
  max-width: 100% !important;
}

.animate-pulse-btn {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  transform: scale(1);
  animation: pulse-btn 2s infinite;
}
@keyframes pulse-btn {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.animate-fade-left {
  opacity: 0;
  transform: translate3d(-80px, 0, 0);

  cursor: pointer;
  transition: 0.25s all ease-in-out;
  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
