.course {
  box-shadow: 0px 4px 15px rgba(0, 30, 95, 0.14);

  &-card {
  }

  &--head {
    @apply relative overflow-hidden;

    &::after {
      @apply block;
      padding-top: 50%;
      content: "";
    }

    &__img {
      @apply absolute object-cover object-top;
    }
  }
}

.square {
  @apply relative;

  &::after {
    @apply block;
    padding-top: 115%;
    content: "";
  }

  &--image {
    @apply absolute object-cover object-top;
  }
}
