.bg-cover-modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 25;
}

.slide-register-home {
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  @screen md {
    min-height: 107px;
    // min-height: 157px;
  }

  .slick-track {
    display: flex !important;
    height: 100%;
    align-items: center;
    height: 80px;

    @screen sm {
      height: 100px;
    }

    @screen lg {
      height: 110px;
    }
  }

  .slick-list {
    // padding-left: 150px;
  }

  .slick-slide {
    color: #fff;
    height: auto !important;
    padding-left: 80px;

    @screen md {
      padding-left: 100px;
    }

    @screen lg {
      padding-left: 120px;
    }

    // display: flex;
    // justify-content: center;
    // align-content: center;

    &.slick-active {
    }
  }

  .slick-dots {
    @apply text-center w-full absolute;
    bottom: 0;

    @screen lg {
      @apply -mt-16;
    }

    li {
      @apply inline-block;

      button {
        width: 10px !important;
        height: 10px !important;
        font-size: 0;
        @apply rounded-full mx-1;
        background-color: #d9d9d9;

        // background-color: #D9D9D9;
        @screen lg {
          width: 18px;
          height: 18px;
        }
      }

      &.slick-active {
        button {
          background-color: #ffcd00;
        }
      }
    }
  }
}

.modal-registrate {
  width: 320px;
  left: calc(50% - 160px);
  top: 40px;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  overflow: hidden;
  z-index: 210;
  background-color: #fff;
  @screen lg {
    top: 60px;
    width: 870px;
    margin: 0 auto;
    left: calc(50% - 435px);
  }

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    @screen lg {
      width: 870px;
    }
  }
  .register {
    &_inner {
      @apply w-full block;

      @screen lg {
        width: 910px;
        height: 490px;
        @apply flex items-center justify-between overflow-x-hidden;
      }
    }
    &_form {
      @apply w-full px-3;

      @screen lg {
        width: 550px;
        padding-top: 56px;
        @apply px-6 flex justify-center items-center;
      }

      .content-form {
        @apply w-full;
      }
    }

    &_slider {
      @apply relative;

      @screen lg {
        width: 360px;
        @apply flex justify-center items-center overflow-hidden;
      }
      .slick-list {
        @screen lg {
          overflow: visible;
        }
      }

      .slick-arrow {
        position: absolute;
        width: 32px;
        height: 32px;
        @apply card-curve;
        top: 150px - 16px;
        z-index: 10;

        @screen lg {
          top: 150px - 16px;
        }

        @screen xl {
          top: 180px - 16px;
        }

        &.slick-prev {
          left: -16px;
        }

        &.slick-next {
          right: -16px;
        }
      }

      .slick-dots {
        @apply text-center w-full relative mt-2;

        @screen lg {
          @apply mt-3;
          // @apply -mt-16;
        }

        li {
          @apply inline-block;
          width: 10px;
          height: 10px;
          margin: 0;

          @screen lg {
            width: 18px;
            height: 18px;
          }

          button {
            width: 10px;
            height: 10px;
            font-size: 0;
            @apply bg-white bg-opacity-50 rounded-full mx-3;

            @screen lg {
              width: 18px;
              height: 18px;
            }
          }

          & + li {
            margin-left: 12px;
          }

          &.slick-active {
            button {
              @apply bg-blue-100;
            }
          }
        }
      }

      .carousel {
        @apply relative;
        width: 100%;

        &_slide {
          @screen lg {
            @apply flex flex-1;
          }

          &-img {
            width: 190px;
            height: 129px;
            @apply relative block mx-auto;
            z-index: 5;
            margin-bottom: 0;

            @screen lg {
              width: 300px;
              height: 300px;
              margin-bottom: 36px;
            }

            // @screen xl {
            //   width: 360px;
            //   height: 360px;
            //   margin-bottom: 46px;
            // }
          }

          &-icon {
            top: -22px;
            left: -22px;
            width: 44px;
            height: 44px;
            @apply flex justify-center items-center absolute;
            background-color: #3361b8;
            border-radius: 10px 0;
            box-shadow: 0px 4px 15px rgba(0, 30, 95, 0.14);

            @screen lg {
              border-radius: 20px 0;
            }

            img {
              width: 20px;
              height: 20px;

              @screen lg {
                width: 36px;
                height: 36px;
              }

              @screen xl {
                width: 40px;
                height: 40px;
              }
            }

            @screen lg {
              top: -35px;
              left: -35px;
              width: 70px;
              height: 70px;
            }

            @screen xl {
              top: -44px;
              left: -44px;
              width: 88px;
              height: 88px;
            }
          }

          &-text {
            @apply text-white text-center;
            z-index: 10;

            .p-title {
              font-weight: 600;
              font-size: 18px;
              line-height: 21px;
            }

            .p-description {
              font-size: 16px;
              line-height: 20px;
              @apply hidden;

              @screen lg {
                @apply block;
              }
            }
          }
        }

        &.carouselb-link2 {
          width: 100%;
          // height: 550px + 56px;
          // padding-top: 56px;

          @screen lg {
            width: 360px;
            height: 490px;
          }

          // @screen 2xl {
          //   width: 100%;
          //   height: calc(100% - (66px + 25px));
          // }

          .carousel {
            &_slide {
              &-img {
                width: auto;
                height: 490px;
                margin-bottom: 0;
                img {
                  width: 360px;
                  height: 490px;
                }
              }

              &-text {
                @apply z-10 absolute left-0 w-full text-left pl-10;
                bottom: 100px;
                @screen lg {
                  height: 58px + 29px;
                }
                @media only screen and (min-height: 768px) {
                  bottom: 210px;
                  padding-left: 56px;
                }
              }
            }
          }

          // @screen lg {
          //   width: 670px;
          // }

          .slick-slider {
            height: 490px;
          }

          .slick-dots {
            @apply absolute mt-0 text-left;
            // @apply bg-verde-600 rounded-tl-20 rounded-br-20 text-white;
            z-index: 10;
            bottom: 20px;
            padding-left: 40px;

            @screen lg {
              bottom: 200px;
            }

            li {
              width: 12px;
              height: 12px;
              padding: 0;

              button {
                margin: 0;
                width: 12px;
                height: 12px;
                display: block;
              }

              & + li {
                margin-left: 16px;
              }

              @screen xl {
                bottom: 170px;
              }
            }

            @media only screen and (min-height: 768px) {
              padding-left: 56px;
              bottom: 190px;
            }
          }

          .slick-arrow {
            @apply bg-green-100 card-curve text-white;
            width: 64px;
            height: 64px;
            top: auto;
            bottom: 30px;

            &.slick-prev {
              left: 36px;

              @media only screen and (min-height: 768px) {
                left: 56px;
              }
            }

            &.slick-next {
              left: 116px;
              right: auto;

              @media only screen and (min-height: 768px) {
                left: 136px;
              }
            }
          }
        }

        &.carousel-modal {
          .carousel {
            &_slide {
              height: 165px;
              &-img {
                width: 100%;
                height: 165px;
                img {
                  height: 165px;
                }
              }
              &-text {
                bottom: 12px;
                position: absolute;
                width: 100%;
                text-align: left;
                @apply px-5;
                .p-title {
                  font-size: 16px;
                  line-height: 19.5px;
                }
              }
            }
          }
          .slick-arrow {
            top: 50%;
            margin-top: -18px;
            right: auto;
            &.slick-next {
              width: 20px;
              left: 50px;
            }
            &.slick-prev {
              width: 20px;
              left: 20px;
            }
          }
          .slick-dots {
            position: absolute;
            right: 20px;
            height: 10px;
            width: auto;
            margin: 0;
            top: 50%;
            margin-top: -5px;
            li {
              float: left;
              button {
                margin: 0;
                display: block;
              }
              & + li {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }

  .carousel {
    &__wrapper {
      background-color: #05be50;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
      position: relative;
      width: 100%;
      display: block;
      min-height: 90px;
      border-radius: 20px 0 20px 0;
      padding: 10px 15px 10px 15px;

      @screen sm {
        min-height: 110px;
      }

      @screen lg {
        padding: 10px 35px 10px 35px;
        min-height: 130px;
      }
    }

    &__icon {
      position: absolute;
      left: 5px;
      bottom: 0;
      width: 80px;
      height: 110px;

      img {
        display: block;
        max-width: 100%;
      }

      @screen md {
        width: 90px;
        height: 125px;
      }

      @screen lg {
        left: 10px;
        width: 110px;
        height: 154px;
      }
    }

    &__slider {
      width: 100%;
      display: block;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    width: 100%;
    position: relative;
    text-align: center;
    color: #0039a6;
    margin-bottom: 15px;

    @screen lg {
      margin-bottom: 40px;
    }

    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 12px;

      @screen lg {
        font-size: 32px;
        margin-bottom: 0;
      }
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;

      @screen lg {
        font-size: 16px;
      }
    }
  }

  &__carousel {
    margin: 0 auto;

    @screen lg {
      width: 630px;
    }
  }

  &__form {
    margin: 20px auto 0;

    @screen lg {
      width: 630px;
    }
  }
}
