.footer-section {
  @apply bg-white w-full;
  padding-top: 34px;
  padding-bottom: 34px;
  // @apply bg-gray-50;
  border-top: 1px solid rgb(240, 240, 220) !important;

  .h-title {
    @apply font-semibold text-black-100 w-full text-sm;
  }

  .p-copy {
    font-size: 12px;
    @apply font-semibold;
  }

  a {
    @apply text-black-100;
    font-size: 12px;

    img {
      width: 200px;
      height: auto;
    }
  }

  .footer {
    &_wrapper {
      @apply w-full relative px-0 text-center;

      @screen md {
        @apply text-left;
      }

      @screen lg {
        @apply px-5;
      }

      @screen xl {
        @apply px-20;
      }
    }

    &_logo {
      @apply w-full relative mb-6;

      img {
        @apply w-50 mx-auto block;
      }

      @screen md {
        @apply hidden;
      }
    }

    &_body {
      @screen md {
        @apply flex items-center justify-between;
      }
    }

    &_info {
      @screen md {
        @apply flex items-center justify-between;
      }
    }

    &_legal {
      @screen lg {
        @apply ml-2;
      }

      @screen xl {
        @apply ml-4;
      }
    }

    &_contact {
      a {
        @apply flex justify-center items-center;

        @screen md {
          @apply justify-start;
        }

        img {
          @apply w-4 h-4 mr-1.5;
        }
      }
    }
  }

  .block-menu {
    width: 100%;
    text-align: center;

    a {
      display: flex;
      justify-content: center;

      img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }

      @screen md {
        justify-content: flex-start;
      }
    }

    @screen md {
      width: 380px;
      display: block;
      text-align: left;
    }
  }

  @screen lg {
    padding-bottom: 30px;
  }
}
