.header-section {
  &.isPrivate {
    .navigation-drawer {
      @apply fixed flex flex-col justify-start w-55 -left-55 top-0 h-screen bg-white border-r border-cream-100;
      z-index: 120;
      transition: left 0.2s ease;
      border-bottom-right-radius: 50px;
      // box-shadow: 0px 24px 38px rgba(0, 30, 95, 0.14), 0px 9px 46px rgba(0, 30, 95, 0.12), 0px 11px 15px rgba(0, 30, 95, 0.2);

      @screen lg {
        @apply left-0 w-55 min-h-150;
      }
    }
  }

  .navigation {
    &_header {
      @apply pt-10 px-7.5 text-center pb-12.5 hidden;

      @screen lg {
        @apply block;
      }

      a {
        @apply inline-block;
      }
    }

    &_body {
      @apply w-full relative flex flex-col justify-between;

      @screen lg {
        @apply pt-0;
      }

      .h-label {
        @apply font-semibold text-black-60 text-xs mb-4 pl-6;
      }
    }

    &_footer {
      @apply w-full absolute bottom-0 left-0 pl-6 pb-8;

      a {
        @apply w-full text-sm leading-4 font-normal flex text-black-60 items-center py-0.5;

        & + a {
          @apply mt-3;
        }
      }
    }

    &_navbar {
      @apply block relative w-full;

      a {
        @apply w-full text-sm leading-4 font-semibold flex text-black-60 items-center border-l-4 border-transparent border-solid py-2 pl-5;

        i {
          @apply w-6 h-6 mr-4 text-2xl;
          line-height: 24px;
        }

        .iconNormal {
          display: block;
        }

        .iconActive {
          display: none;
        }

        &:hover,
        &.active,
        &.nuxt-link-active,
        &.nuxt-link-exact-active {
          @apply text-blue-100 border-blue-100;

          .iconNormal {
            display: none;
          }

          .iconActive {
            display: block;
          }
        }
      }
    }
  }
}
